<div class="row">
    <div class="col-md-4 centraal">

        <a href="#"><img src="~/Images/badgeWeb.png"></a>
        <h2>Web Design</h2>
        <p>Wij bieden u een volledige website aan. Wij verkopen twee zeer stabiele websites.</p>
        <p>De website kan zelf door u beheerd worden via de admin paneel.</p>
        <p>De websites zijn gebruiksvriendelijk en mobiel vriendelijk.</p>
    </div>
    <div class="col-md-4 centraal">

        <a href="#"><img src="~/Images/badgeLogo.png"></a>
        <h2>Logo Design</h2>
        <p>Bij ons kunt u ook terecht voor een logo. Wij designen een unieke logo voor uw bedrijf.</p>
        <p>Aan de hand van een vragen lijst maken wij een logo voor uw bedrijf op maat.</p>
    </div>
    <div class="col-md-4 centraal">

        <a href="#"><img src="~/Images/badgeService.png"></a>
        <h2>Onderhoud</h2>
        <p>Wij zijn altijd online beschikbaar voor onderhoud en klantenservice. Wij zorgen voor het beste sevice en kwaliteit voor uw website. </p>
    </div>

</div>